{% extends 'base.html' %}
{% load static %}

{% block content %} 

<style>
    .bg-2 {
      background: url("{% static 'img/house.png' %}");
      background-size: cover;
      padding: 130px 0px;
    }
    </style>


    <section class=" bg-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
              <ul class="list-inline mb-0">
                <li class="list-inline-item"><a href="{% url 'index' %}" class="text-sm letter-spacing text-white text-uppercase font-weight-bold">Inicio</a></li>
                <li class="list-inline-item"><span class="text-white">|</span></li>
                <li class="list-inline-item"><a href="#" class="text-color text-uppercase text-sm letter-spacing">Quienes somos</a></li>
              </ul>
               <h1 class="text-lg text-white mt-2">The Invitation</h1>
          </div>
        </div>
      </div>
    </section>
    
    
    <!-- Section About start -->
    <section class="section about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6">
                    <img src="{% static 'img/video1.gif' %}" alt="photo 1" class="">
                </div>
                <div class="col-lg-3 mt-lg-4 col-md-6">
                    <img src="images/about/img-7.jpg" alt="photo 2" class="img-fluid">
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-item position-relative mt-5 mt-lg-0">
                        <span class="h5 text-lg text-muted">Est:2018</span>
                        <h2 class="mt-1 mb-3">Tenemos <span class="text-color">5 años</span> de experiencia como desarrolladores</h2>
    
                        <p class="mb-4">Somos una empresa con más de 5 años de experiencia digitalizando momentos. A pesar de ofrecer un servicio 100% en línea y vía telefónica, nos caracterizamos por tener una atención personalizada con respuestas inmediatas.</p>
    
                        <a href="service.html" class="btn btn-main">Contacto<i class="ti-angle-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section About End -->



{% endblock content %}