{%extends 'base_register.html'%}

{%block content%}
  <div class="col-lg-6 col-md-4 mx-auto mt-5 p-4">
	  <form method="post" class="card p-4" novalidate>
	  	{% csrf_token %}
	    <h2 class="text-center p-4">Log in to your account</h2>
		{% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
		
		<input type="submit" value="Login" class="btn btn-primary full-width mt-3">
		<hr>
		<!--<p class="text-center">Forgot your password <a href="{%url 'password-reset'%}">Reset Password</a></p>
		<p class="text-center">Don't have a account? <a href="{%url 'register'%}">Join Now</a></p>-->
	</form>
</div>

{%endblock content%}