{%extends 'base_dashboard.html'%}
{% load static %}

{%block content%}

<div class="center">
	<h2>Mi Album</h2>

	{% if usergallery %}
	<div class='row p-4'>
		{% for usergallerydetail in usergallery %}

				<div class="col-6 my-2 mx-auto p-2">
					<a href="{% url 'usergallerydetail' usergallerydetail.id %}"><img class="img-fluid" src="{{ usergallerydetail.photo.url }}"></a>
				</div>
		{% endfor %}

	{% else %}
		<p>Estamos cargando tus fotos, gracias por la espera.
	{% endif %}
		</div>

</div>
{%endblock content%}